/* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> */

.contChat {
    text-align: center;
    background-color: #a1d1f5;
    background: url("") no-repeat center center fixed;
    background-color: rgba(26, 53, 230, 0.8);
    background-image:url(https://c8.alamy.com/compes/m6rwa5/multi-language-translator-ilustracion-del-concepto-chica-en-el-ordenador-hablando-diferentes-idiomas-mediante-la-traduccion-de-app-vector-eps10-m6rwa5.jpg);
    height: 500px;
    max-width: 100%;
    /* filter:brightness(0.6); */
    
}

.infoSala {
    background-color: rgb(173, 216, 230);
    /* margin:1em 1em 3em 11em ; */
    font: oblique bold 120% cursive;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    margin-right: 20%;
    margin-left: 20%;
    font-size: 25px;
    
}
.Autor{
    font-size: 11px;
    font-style: italic;
}

.mensajes {
    background: url("") no-repeat center center fixed;
    margin: 1em 20em em 20em;
    

}

.mensajesss {
    margin: 1em 25em 4em 25em;
    /* background-image: blue; */
    /* color: rgba(52, 166, 214, 0.4); */
}

.message-container {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    /* color: rgba(52, 166, 214, 0.4); */

}

.text-right {
    background-color: rgb(255, 255, 255); /* Cambia el color de fondo para el lado derecho */
    width: 500px; /* Tamaño inicial */
    word-wrap: break-word;
    margin-left: 20px; /* Permite que las palabras se rompan si son más largas que el contenedor */
}

.text-left {
    background-color: rgb(165, 165, 165); /* Cambia el color de fondo para el lado izquierdo */
    width: 500px; /* Tamaño inicial */
    word-wrap: break-word;
    margin-right: 20px;
    margin-left: auto;
    color: black;
}

/* .chat-sala { 
    height: 13rem;
    overflow: auto;
  } */

.scroll-container {
    display: block;
    width: px;
    height: 442px;
    overflow-y: auto;
    scroll-behavior: auto;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
}

.newMessge {
    /* background-color: blueviolet; */
    display: contents;
    /* background-color: #1e82cf; */
    /* border: #4990cb; */
    margin: 1em 1em 1em 1em;
}

.inputNewMessage {
    transition: border 0.3s ease-in-out;
    size: 50px;
    /* margin: 0.2rem 0; */
    /* border: none; */
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 11px;
    width: 45%;
    /* color: #64696d; */
    /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;    */
    margin-bottom: 5px;
    background-color: rgb(0, 255, 255, 0.6);
}

.botonEnviar {
    font-size: 25px;
    /* background-color: rgb(0, 255, 255, 0.6); */
    padding: 4px;

    /* background-color: rgb(127, 180, 255); */
    
}

/* a {
    display: inline-block;
    width: 50px;
    text-decoration: none;
  }
  nav,
  scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  nav {
    width: 339px;
    padding: 5px;
    border: 1px solid black;
  }
  scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  } */